{% extends "layout.html" %} {% block content %}

<!-- Modal Delete-->
<div
  class="modal fade"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Konfirmasi</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Apakah Ingin Menghapus Data?</div>
      <form
        id="formDelete"
        method="POST"
        action="{{url_for('delete')}}"
        class="modal-footer"
      >
        <input hidden id="idDelete" name="id" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Tidak
        </button>
        <button type="submit" class="btn btn-primary">Ya</button>
      </form>
    </div>
  </div>
</div>

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Buku Besar</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<div class="row">
  <div class="col-12">
    <div class="card">
      <!-- <div class="card-header d-flex justify-content-end">
        <a href="/daftar-akun/create" class="btn btn-primary">Tambah</a>
      </div> -->
      <!-- /.card-header -->
      <div class="card-body">
        <div>
          {% for data in buku_besar %}
          <h5>Akun {{data['daftar_akun_name']}}</h5>
          <table class="table table-hover mb-4">
            <tbody>
              <tr>
                <th style="width: 20%">Tanggal</th>
                <th style="width: 20%">Keterangan</th>
                <th style="width: 20%">Debit</th>
                <th style="width: 20%">Kredit</th>
                <th style="width: 20%">Saldo</th>
              </tr>
              {% for a in data['daftar'] %}
              <tr>
                <td>{{a.date}}</td>
                <td>{{a.note}}</td>
                <td>{{a.debit| int}}</td>
                <td>{{a.credit|int}}</td>
                <td>
                  <span class="label label-success">{{ a.balance |int}}</span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endfor %}
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>

{% endblock %} {% block script %}
<script>
  $(function () {
    $(document).on("click", "#btnDelete", function () {
      var myId = $(this).data("id");
      $("#idDelete").val(myId);

      // As pointed out in comments,
      // it is unnecessary to have to manually call the modal.
      // $('#addBookDialog').modal('show');
    });

    $("#example2").DataTable({
      paging: true,
      lengthChange: false,
      searching: false,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
    });
  });
</script>
{% endblock %}
