{% extends "layout.html" %}
{% block content %} 
<div class="row mr-5 ml-5 pr-5 pl-5">
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Edit</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <form method="POST" action="{{url_for("edit_jurnal", id=data.id)}}" class="card-body">
         
        <div class="form-group">
          <label for="inputName">Tanggal</label>
          <input required type="date" value="{{data.date}}" id="date" name="date" class="form-control">
        </div>
        <div class="form-group">
          <label>Daftar Akun</label>
          <select required name="daftar_akun_id" class="form-control">
            {% for d in daftar_akuns %}

            <option {% if d.id == data.daftar_akun_id %} selected="selected" {% endif %} value="{{d.id}}">{{d.name}}</option>
            {% endfor %}
            

          </select>
        </div>
        <div class="form-group">
          <label for="inputName">Keterangan</label>
          <input required type="text" value="{{data.note}}" id="note" name="note" class="form-control">
        </div>
        <div class="form-group">
          <label for="inputName">Debit</label>
          <input required type="number" value="{{data.debit|int}}" id="debit" name="debit" class="form-control">
        </div>
        <div class="form-group">
          <label for="inputName">Kredit</label>
          <input required type="number" value="{{data.credit|int}}" id="credit" name="credit" class="form-control">
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  
</div>
{% endblock %}

